<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆页面</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="login-box"  >
	<form  method="post" name="myform" >
		<h1>Login</h1>
		<div class="textbox">
			<i class="fa fa-user" aria-hidden="true"></i>
			<input type="text" placeholder="Username" name="user_name" value="">
		</div>
		<div class="textbox">
			<i class="fa fa-lock" aria-hidden="true"></i>
			<input type="password" placeholder="Password" name="password" value="">
		</div>
		<input  class="btn" type="submit" name="" value="登陆" onclick="login()" >
		<input  class="btn" type="submit" name="" value="注册" onclick="register()">
	</form>

</div>
</body>
<script type="text/javascript">
	function login() {
		document.myform.action = "/login"
		document.myform.submit();
	}
	
	function register() {
		document.myform.action = "/register"
		document.myform.submit();
	}
</script>
</html>